/* .normal {background-color: #A8A77A}
.fire {background-color: #EE8130}
.water {background-color: #6390F0}
.electric {background-color: #F7D02C}
.grass {background-color: #7AC74C}
.ice {background-color: #96D9D6}
.fighting {background-color: #C22E28}
.poison {background-color: #A33EA1}
.ground {background-color: #E2BF65}
.flying {background-color: #A98FF3}
.psychic {background-color: #F95587}
.bug {background-color: #A6B91A}
.rock {background-color: #B6A136}
.ghost {background-color: #735797}
.dragon {background-color: #6F35FC}
.dark {background-color: #705746}
.steel {background-color: #B7B7CE}
.fairy {background-color: #D685AD} */
/* https://codepen.io/jkneb/pen/rLEvOg */

.pkm-type {
  font-size: 15px;

  font-family: 'Trebuchet MS';
  font-weight: bold;
  width: auto;
  text-align: center;
  display: inline-block;
  border: .1em solid transparent;
  padding: .1em .2em .2em;
  margin: .1em .015em;
  border-radius: .4em;
  box-shadow: 0.3px 0.3px 2px black;
}

.pkm-type span {
  text-transform: uppercase;
  font-size: .8em;
  color: white;
  text-shadow: 0em 0em .2em black;
}

.normal {
  background-color: #a8a878;
  border-top-color: lighten(#a8a878, 15%);
  border-bottom-color: darken(#a8a878, 15%);
}

.fire {
  background-color: #78c850;
  border-top-color: lighten(#78c850, 15%);
  border-bottom-color: darken(#78c850, 15%);
}

.fighting {
  background-color: #c03028;
  border-top-color: lighten(#c03028, 15%);
  border-bottom-color: darken(#c03028, 15%);
}

.water {
  background-color: #6890f0;
  border-top-color: lighten(#6890f0, 15%);
  border-bottom-color: darken(#6890f0, 15%);
}

.poison {
  background-color: #a040a0;
  border-top-color: lighten(#a040a0, 15%);
  border-bottom-color: darken(#a040a0, 15%);
}

.electrik {
  background-color: #f8d030;
  border-top-color: lighten(#f8d030, 15%);
  border-bottom-color: darken(#f8d030, 15%);
}

.ground {
  background-color: #e0c068;
  border-top-color: lighten(#e0c068, 15%);
  border-bottom-color: darken(#e0c068, 15%);
}

.grass {
  background-color: #78c850;
  border-top-color: lighten(#78c850, 15%);
  border-bottom-color: darken(#78c850, 15%);
}

.flying {
  background-color: #a890f0;
  border-top-color: lighten(#a890f0, 15%);
  border-bottom-color: darken(#a890f0, 15%);
}

.ice {
  background-color: #98d8d8;
  border-top-color: lighten(#98d8d8, 15%);
  border-bottom-color: darken(#98d8d8, 15%);
}

.bug {
  background-color: #a8b820;
  border-top-color: lighten(#a8b820, 15%);
  border-bottom-color: darken(#a8b820, 15%);
}

.psychic {
  background-color: #f85888;
  border-top-color: lighten(#f85888, 15%);
  border-bottom-color: darken(#f85888, 15%);
}

.rock {
  background-color: #b8a038;
  border-top-color: lighten(#b8a038, 15%);
  border-bottom-color: darken(#b8a038, 15%);
}

.dragon {
  background-color: #7038f8;
  border-top-color: lighten(#7038f8, 15%);
  border-bottom-color: darken(#7038f8, 15%);
}

.ghost {
  background-color: #705898;
  border-top-color: lighten(#705898, 15%);
  border-bottom-color: darken(#705898, 15%);
}

.dark {
  background-color: #705848;
  border-top-color: lighten(#705848, 15%);
  border-bottom-color: darken(#705848, 15%);
}

.steel {
  background-color: #b8b8d0;
  border-top-color: lighten(#b8b8d0, 15%);
  border-bottom-color: darken(#b8b8d0, 15%);
}

.fairy {
  background-color: #ffb7fa;
  border-top-color: lighten(#ffb7fa, 15%);
  border-bottom-color: darken(#ffb7fa, 15%);
}