@keyframes color {
  0% {
    background: #33CCCC;
  }

  20% {
    background: #33CC36;
  }

  40% {
    background: #B8CC33;
  }

  60% {
    background: #FCCA00;
  }

  80% {
    background: #33CC36;
  }

  100% {
    background: #33CCCC;
  }
}

body {
  background-image: url(../images/bg.png);
  background-repeat: space;
  background-size: 1400px;
  background-position-x: center;
  background-attachment: fixed;
}

.landing {
  margin-top: -50px;
  width: 80% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
}

.landingHeader {
  text-align: center;
  font-family: 'Kavoon', sans-serif;
  font-size: 2.5em;
  width: 560px;
  padding: 10px 0px;
  background-color: rgba(255, 255, 255, 0.35) ;
  border-radius: 10px 0px 10px ;
  color: black;
  
}

.landingButton {
  border: 3px solid white;
  display: block;
  padding: 14px 16px;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  transition-duration: 0.1s;
}

.landingButton:hover {
  padding: 14px 16px;
  border: 3px solid black;
  background-color: white;
  color: black;
  animation: color 3s infinite linear;
}
