.BarPosition {
  border: 0px;
  height: 49px;
  float: right;
}

.buttonBar {
  padding: 15px 26px 15.85px;
  margin-left: 10px;
  border: none;
  font-size: 15px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.buttonBar:hover {
  background-color: rgba(10, 79, 82, 0.7);
  transition-duration: 0.2s;
}

.inputBar {
  padding: 8px 16px 8px;
  height: 21px;
  margin: 0;
  border: 0;
  font-size: 15px;
}

