.main {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 5% auto;
  max-width: 600px;
}

.main h2 {
  text-align: center;
}

.main input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.numberInputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.numberInputs input {
  display: flex;
}


.main button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.main button:disabled {
  background-color: #4d4d4d;
}

.errors {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 5px 0 5px;
}

.errors p {
  margin: 0px;
  text-align: center;
  font-weight: 600;
  color: white;
  border: rgb(190, 92, 92);
  background-color: rgba(200, 0, 0, 0.7);
}