/* https://www.w3schools.com/css/css_navbar_horizontal.asp */
.navbarList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.itemL {
  float: left;
}

.item a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
}

.item a:hover {
  background-color: rgba(10, 79, 82, 0.7);
  transition-duration: 0.2s;
}

body{padding-top: 50px;}